/* styles.css */

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

h2 {
    color: #666;
}

p {
    color: #999;
    margin: 5px 0;
}
